/* Main container styles. */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

h1, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-container hr {
    width: 25%;
    height: 1.5px;
    border: 0px;
    background-color: black;
}

/* The content box will contain the options palette and the pixel grid itself. */
.content {
    display: flex;
    align-items: center;
    margin: 25px;
}

/* Main options palette with default stylings. */
.palette {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 200px;
    margin-right: 75px;
}

/* Default stylings for buttons and input. */
.palette button, input {
    width: auto;
    align-items: stretch;
    margin: 15px 0px;
}

/* Default button styling. */
.palette button {
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    border-radius: 5px;
}

.palette .button-click {
    border: 1px solid white;
    color: white;
    background-color: black;
}

/* Default input styling. */
.palette input {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 5px 5px 5px 0px rgb(211, 211, 211);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    height: 30px;
}

/* Grid division text styling. */
.palette p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    align-self: center;
    margin: 0px;
    margin-bottom: -10px;
    margin-top: 15px;
}

/* Alternative styling for button clicks. */
.palette .hover {
    font-weight: bold;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixel-grid {
    border: 1px solid black;
    box-shadow: 10px 10px 10px 0px rgb(211, 211, 211);
}